<div class="info-window">

	{{#each recordAttr as |attr|}}
	<input type="radio" id={{attr}} value={{attr}} name="attr" onchange={{route-action 'setDataAttr' attr}}>
		
  		<label for="{{attr}}">{{attr}}</label>

  		<br>
  	{{/each}}

</div>

{{yield}}
